html{
    margin: 0,auto,0;
}

.canvas{
    
    margin: auto;
  
}

#black{
    background-color: black;
    /* border: none; */
    height: 100px;
    width: 100px;
    display: inline;
}

#yellow{
    background-color: yellow;
    border: none;
    height: 100px;
    width: 100px;
    display: inline;
}

#blue{
    background-color: blue;
    border: none;
    height: 100px;
    width: 100px;
    display: inline;
}

#purple{
    background-color: purple;
    border: none;
    height: 100px;
    width: 100px;
    display: inline;
}

#pink{
    background-color: pink;
    border: none;
    height: 100px;
    width: 100px;
    display: inline;
}

