html{
    margin: 0,auto,0;
}

.canvas{
     height: 200px;
     width: 200px;  
     display: inline-block;
     
     
}

#black{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: black;
    border: none; 
    
}

#yellow{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: yellow;
    border: none;
}

#blue{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: blue;
    border: none;
}

#purple{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: purple;
    border: none;
}

#pink{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: pink;
    border: none;
}

